{% extends "sigegov/base.html" %}
{% load i18n %}

{% block content-body %}
<form id="eventForm" method="post" class="form-horizontal" action="/sigegov/create_event/" enctype="multipart/form-data"                    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
	data-bv-feedbackicons-invalid="glyphicon glyphicon-remove"
	data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">{% csrf_token %}

	<div class="form-group">
	<label class="col-lg-3 control-label">Name of the Event:</label>
	<div class="col-lg-5">
		<input id="id_event" type="text" class="form-control" name="event"
		data-bv-notempty="true"
		data-bv-notempty-message="Name is required and cannot be empty"/>
	</div>	
	</div>

	<div class="form-group">
	<label class="col-lg-3 control-label">Name of organiser:</label>
	<div class="col-lg-5">
		<input id="id_organiser" type="text" class="form-control" name="organiser"
		data-bv-notempty="true"
		data-bv-notempty-message="Name is required and cannot be empty"/>
	</div>	
	</div>

	<div class="form-group">
	<label class="col-lg-3 control-label">Upload File:</label>
	<div class="col-lg-5">
		<input id="id_attachment" type="file" class="form-control" name="attachment" size="10000"
		data-bv-notempty="true"
		data-bv-notempty-message="Name is required and cannot be empty"/>
	</div>	
	</div>

	<div class="form-group">
		<div class="col-lg-9 col-lg-offset-3">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>
{% endblock %}
