{% extends "sigegov/base.html" %}
{% load i18n %}
{% block title %}Executive Committee{% endblock %}
{% block content-body %}

<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').dataTable();
			} );
		</script>

		<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Members</th>
		<th>Contact Address</th>
		<th>EmailID</th>
		<th>Phone No</th>                
            </tr>
        </thead>
        <tbody>
		<tr>
			<td>01</th>
			<td></th>
			<td>
		</tr>
	</tbody>
</table>
{% endblock %}
