{% extends "sigegov/base.html" %}
{% load i18n %}
{% block title %}Executive Committee{% endblock %}
{% block content-body %}
<h1 align = "center"> Executive Commitee </h1>
<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#example').dataTable();
			} );
		</script>

		<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Members</th>
		<th>Contact Address</th>
		<th>EmailID</th>
		<th>Phone No</th>                
            </tr>
        </thead>
        <tbody>
		<tr>
			<td>01</td>
			<td>Dr Ashok K Agarwal,</td>
			<td>Dr Ashok agarwal 
Adjunct professor BITS Pilani
Chairman EWB India</td>
			<td>agarwal.ashok.k@gmail.com</td>
			<td>+91 9848053024</td>	
		</tr>
		<tr>
			<td>02</td>
			<td>Prof MP Gupta</td>
			<td>Department of Management Studies, IIT, Delhi
Vishwakarma Bhawan, 
Shahid Bhagat Singh Marg
New Delhi – 110 016</td>
			<td>mpgupta@dms.iitd.ac.in</td>
			<td>+91 9811027530</td>	
		</tr>
		<tr>
			<td>03</td>
			<td>Mr. Piyush Gupta
(Chairman, CSI SIG)</td>
			<td>Asst Vice President (Capacity Building & Knowledge Management; National Institute for Smart Government (NISG YSR Bhavan, Financial District, Nanakramguda, Rajendra Nagar, Hyderabad -500 032, India</td>
			<td>piyush.gupta@nisg.org</td>
			<td>+91 98499-14466</td>
		</tr>
		<tr>
			<td>04</td>
			<td>Prof ML Saikumar</td>
			<td>Head, IT Division & PGDBM Coordinator
Institute of Public Enterprise
Osmania University Campus
Hyderabad – 500 007</td>
			<td>saikumar@ipeindia.org</td>
			<td>(040) 27095182 +91 9849126019</td>
		</tr>
		<tr>
			<td>05</td>
			<td>Dr. Nityesh Bhatt</td>
			<td>Sr. Associate Professor – IT Area
Institute of Management
Nirma University of Science & Technology, Gandhinagar – Sarkhej Highway 
Ahmedabad – 382481</td>
			<td>nityesh@imnu.ac.in
nityeshb@gmail.com</td>
			<td>(02717)-241900-04
Ext: 634
Mob: 99743-31833</td>
		</tr>
		<tr>
			<td>06</td>
			<td>Prof. Sanjiv Vaidya</td>
			<td>Professor – MIS
Indian Institute of Management
Diamond Harbour Road 
Joka, Kolkata (Calcutta) - 700104 
West Bengal, INDIA</td>
			<td>
sdvaidya@iimcal.ac.in</td>
			<td>(033)-2467 8300
Ext: 414
Mob:92316-83276</td>
		</tr>
		<tr>
			<td>07</td>
			<td>Mr. Suresh Chanda</td>
			<td>Commissioner, Commissionerate of Commercial Taxes
Kattelamandi, Abids, Hyderabad</td>
			<td>commissioner_cct@ap.gov.in</td>
			<td>(040)-23456409 (040)- 24602171</td>
		</tr>
		<tr>
			<td>08</td>
			<td>Maj. Gen (Retd)
Dr. RK Bagga
Past Chairman, SIGeGOV</td>
			<td>Advisor IIIT-H, Gachibowli
Hyderabad – 500 032</td>
			<td>rbagga@iiit.ac.in</td>
			<td>+91 9849251716</td>
		</tr>
		<tr>
			<td>09</td>
			<td>Dr. Mahesh Chandra</td>
			<td>Deputy Director General,
National Informatics Centre
Ministry of Communication & Information Technology
A-Block, CGO Complex, Lodhi Road, New Delhi – 110 003</td>
			<td>mcchandra@nic.in</td>
			<td>(011)-24364635</td>
		</tr>
		<tr>
			<td>10</td>
			<td>Mr. Minoo Dastur</td>
			<td>Executive Director
Nihilent Technologies Pvt.Ltd.,
4th Floor, Weikfiedl IT Citi Infopark,
Nagar Road,
Pune 411 014</td>
			<td>m.dastur@nihilent.com</td>
			<td>(020) 3984 6100</td>
		</tr>
		<tr>
			<td>12</td>
			<td>Prof Harish Iyer 
Convener 
CSI Nihilent e-Gov Awards 2012-13</td>
			<td>397, Old MIG Phase I 
BHEL Ramachandrapuram 
Hyderabad 502032</td>
			<td>pharishiyer@gmail.com</td>
			<td>098481 48192</td>
		</tr>
		<tr>
			<td>13</td>
			<td>Dr Akshai agarwal</td>
			<td>VC Gujarat Technological University 
LD College of Engg Campus 
Navrang pura 
Ahmedabad 380015</td>
			<td>vc@gtu.ac.in</td>
			<td>079-26300699 
079-26300499/599</td>
		</tr>
		<tr>
			<td>14</td>
			<td>Mr Satish Babu</td>
			<td>President,
InApp Information Technologies
Technopark, Trivandrum – 695 581</td>
			<td>sb@inapp.com</td>
			<td>094470-27274
Tel: (471) 252 7270</td>
		</tr>
		<tr>
			<td>15</td>
			<td>S Kapoor 
Past Convener-CSI Nihilent eGov Awards</td>
			<td>551/2, Mansarovar Heights 1 
Mano Vikas Nagar P.O. Secunderbad 500009</td>
			<td>kapoorsurendra@yahoo.com</td>
			<td>+91 939 101 3432
+91 40 2799 3196</td>
		</tr>
		<tr>
			<td>16</td>
			<td>GSN Prabhu</td>
			<td>H No. 1 - 98/4/61, 
Plot 61, 
Arunodaya Colony, Madhapur, 
Hyderabad : 500081</td>
			<td>gsnprabhu@yahoo.com</td>
			<td>98499-83946</td>
		</tr>
		<tr>
			<td>17</td>
			<td>Ms A Sridevi 
Joint Convener
CSI Nihilent e-Gov Awards 2012-13</td>
			<td>Manager, National Institute for Smart Government (NISG) 
YSR Bhavan, Financial District, Nanakramguda, Rajendra Nagar, Hyderabad -500 032, India</td>
			<td>ayaluri.sridevi@nisg.org</td>
			<td>040-6654 5352
98662-48887</td>
		</tr>
		

	</tbody>
</table>
{% endblock %}
