{% extends "sigegov/base.html" %}
{% load i18n %}

{% block content-body %}
<h1 align="center">SIGeGov Objectives</h1>
<p>To create Computer Society of India (CSI) as a knowledge Base to facilitate, promote advice and support the e-Governance initiative in our country at State and Centre level. 

The following activities are proposed: </p>
<ul>
    <li>
Create a repository of e-Governance initiatives in India. 
    </li>
    <li>
        CSI has instituted e-Governance Awards SIGegov is expected to organize these wards and implement the award judging process. SIGeGov also to act as the Secretariat for e-Governance awards and maintain updated data bases of all relevant stake holders in this area. 
    </li>
    <li>
        Support research in selected areas like Assessment frame work and Implementation Strategy for e-Governance Projects. 
    </li>
    <li>
        Participate in the processes for evolving standards in Technology, Processes and Data Bases.
    </li>   
    <li>
        Participate in various State and Central committees in e-Governance on invitation. 
    </li>
    <li>
        Conduct National / International conferences in e-Governance individually or by joining hand with other reputed institutions, active in this area
    </li>
    <li>
        Undertake to organize e-Governance Awards for CSI every year. 
    </li>
    <li>
        Maintain website on CSI-SIG e-Gov.
    </li>
</ul>

</tbody>
</table>

{% endblock %}
