{% extends "sigegov/base.html" %}

{% load i18n %}
{% block content-body %}
<!DOCTYPE html>
<!-- <html>
<head>
<style>
	body { font-size: 140%; }
</style>
<meta charset="utf-8">
<title>Autocomplete Example</title>
</head>
<body> -->
<h1>Publications Search</h1>

<form method="get" action="." class="autocomplete-me">
<!--table>
<thead>
<th>
<td>Project Title<br><input type="text" id="project_title" class="que"></td>
<td>State<br><input type="text" id="state" class="que"></td>
<td>Department Name<br><input type="text" id="department_name" class="que"></td>
<td>Category<br><input type="text" id="category" class="que"></td>
</th>
</thead>
</table-->
<label>Search </label>
<input type="text" id="search_text" class="que">
<br/>
<br/>
<table id="example" class="table table-striped table-bordered" cellspacing="0" cellpadding="0" width="100%">
<thead>
<th>Project Title<br><input type="text" id="project_title" class="que" autofocus="autofocus"></th>
{% if state %}
<th>State<br><input type="text" id="state" class="que" value="{{state}}"></th>
{% else %}
<th>State<br><input type="text" id="state" class="que"></th>
{% endif %}

<th>Department Name<br><input type="text" id="department_name" class="que"></th>
<th>Category<br><input type="text" id="category" class="que"></th>
</thead>
<tbody>
</tbody>
</table>
</form>


<!--{% for note in publications %}
<h1>{{ note.document_id }}</h1>

<p>
{{ note.project_title }}
</p>
{% endfor %}  -->


<script type="text/javascript">

$(document).ready(function() {
                //var e = jQuery.Event("keypress");
                //e.which = 13; //choose the one you want
                //e.keyCode = 13;
                //$(".que").trigger(e);
        // $('#example').dataTable();
} );
// In a perfect world, this would be its own library file that got included
// on the page and only the ``$(document).ready(...)`` below would be present.
// But this is an example.
var Autocomplete = function(options) {
        this.form_selector = options.form_selector
                this.url = options.url || '/sigegov/autocomplete/'
                this.delay = parseInt(options.delay || 300)
                this.minimum_length = parseInt(options.minimum_length || 3)
                this.form_elem = null
                this.query_box = null
}

Autocomplete.prototype.setup = function() {
        var self = this
                console.log(this.url)
                this.form_elem = $(this.form_selector)
                this.query_box = this.form_elem.find('input[class=que]')
                // Watch the input box.
                var query = self.query_box.val()
                this.query_box.on('keyup change focus', function() {
                  console.log(query);
                                          
                  //if(query.length!=0 && query.length < self.minimum_length) {
                        //      return false
                  //}
                  self.fetch(query)
                })
                self.fetch(query)

        // On selecting a result, populate the search field.
        this.form_elem.on('click', '.ac-result', function(ev) {
                        self.query_box.val($(this).text())
                        $('.ac-results').remove()
                        return false
                        })
}

Autocomplete.prototype.fetch = function(query) {
        var self = this
        var search_text = document.getElementById('search_text').value
        var department_name = document.getElementById('department_name').value
        var project_title = document.getElementById('project_title').value
        //var dat = document.getElementByName('date')
        var state = document.getElementById('state').value
        var category = document.getElementById('category').value
        $.ajax({
                url: this.url
                , data: {
                        'department_name': department_name,
                        'project_title': project_title,
        //                'dat': dat,
                        'state': state,
                        'category': category,
                        'search_text': search_text
                }
                , success: function(data) {
                self.show_results(data)
                }
        })
}

Autocomplete.prototype.show_results = function(data) {
        var results = data.results || [];
        var table = document.getElementById('example').getElementsByTagName('tbody')[0];// > tbody")
        $('#example tbody tr').remove()
        for(i=0; i<results.length; i++) {
                console.log(results[i])
        }
        for(i=0; i<results.length; i++) {
                var row = table.insertRow(table.rows.length);
                var project_title_cell = row.insertCell(0);
                var state_cell = row.insertCell(1);
                var department_name_cell = row.insertCell(2);
                var category_cell = row.insertCell(3);
                
                project_title_cell.innerHTML = results[i][0];
                state_cell.innerHTML = results[i][1];
                department_name_cell.innerHTML = results[i][3];
                category_cell.innerHTML = results[i][2];
        }
        //var row = table.insertRow()
        /*for(var i=0; i<results.length; i++) {
                console.log(results[i]) 
        }*/
/*Autocomplete.prototype.show_results = function(data) {
        // Remove any existing results.
        $('.ac-results').remove()

                var results = data.results || []
                var results_wrapper = $('<div class="ac-results"></div>')
                var base_elem = $('<div class="result-wrapper"><a href="#" class="ac-result"></a></div>')

                if(results.length > 0) {
                        for(var res_offset in results) {
                                                                                                                             162,1-8       82%
                                var elem = base_elem.clone()
                                        // Don't use .html(...) here, as you open yourself to XSS.
                                        // Really, you should use some form of templating.
                                        elem.find('.ac-result').text(results[res_offset])
                                        results_wrapper.append(elem)
                        }
                }
                else {
                        var elem = base_elem.clone()
                                elem.text("No results found.")
                                results_wrapper.append(elem)
                }

        this.query_box.after(results_wrapper)*/
}

$(document).ready(function() {
        window.autocomplete = new Autocomplete({
                form_selector: '.autocomplete-me'
        })
        window.autocomplete.setup()
})
</script>
<!-- </body>
</html> -->
{% endblock %}
                                                                                                                             188,1         Bot

