{% extends "sigegov/base.html" %}

{% load i18n %}
{% block title %}Search{% endblock %}

{% block content-body %}
<!DOCTYPE html>
<!-- <html>
<head>
<style>
	body { font-size: 140%; }
</style>
<meta charset="utf-8">
<title>Autocomplete Example</title>
</head>
<body> -->
<h1>Publications Search</h1>

<style>
.row3:hover{
        cursor: pointer;
}    
</style>

<form method="get" action="." class="autocomplete-me">
<!--table>
<thead>
<th>
<td>Project Title<br><input type="text" id="project_title" class="que"></td>
<td>State<br><input type="text" id="state" class="que"></td>
<td>Department Name<br><input type="text" id="department_name" class="que"></td>
<td>Category<br><input type="text" id="category" class="que"></td>
</th>
</thead>
</table-->
<a data-step="3" data-intro="Select any two projects from respective checkboxes in table and click this button to compare between them." class="btn btn-primary" onclick="checkbox_func()">Compare</a><br><br>
<div data-step="4" data-intro="This is the master search. Start typying your search and results will be displayed in the table below. Results include any matching results from all PDF records" >
<label>Search in PDF</label>
<input dtype="text" id="search_text" class="que">
</div>
<br/>
<br/>
<table  id="example" class="table table-bordered table-hover" cellspacing="0" cellpadding="0" width="100%">
<thead >
<th>Select</th>
<th>Project Title<br><input type="text" id="project_title" class="que" autofocus="autofocus"></th>
{% if state %}
<th>State<br><input type="text" id="state" class="que" value="{{state}}"></th>
{% else %}
<th>State<br><input type="text" id="state" class="que"></th>
{% endif %}

<th>Department Name<br><input type="text" id="department_name" class="que"></th>
<th>Category<br><input type="text" id="category" class="que"></th>
<th>Pdf</th>
</thead>
<tbody data-step="5" data-intro="This section allows multi-index search simultaneously. Query results quickly. For example - All Govt-to-Citizen projects.Your search results are be displayed in this table">
</tbody>
</table>
</form>


<!--{% for note in publications %}
<h1>{{ note.document_id }}</h1>

<p>
{{ note.project_title }}
</p>
{% endfor %}  -->


<script type="text/javascript">

$(document).ready(function() {
                //var e = jQuery.Event("keypress");
                //e.which = 13; //choose the one you want
                //e.keyCode = 13;
                //$(".que").trigger(e);
        // $('#example').dataTable();
} );
// In a perfect world, this would be its own library file that got included
// on the page and only the ``$(document).ready(...)`` below would be present.
// But this is an example.
var Autocomplete = function(options) {
        this.form_selector = options.form_selector
                this.url = options.url || '/sigegov/autocomplete/'
                this.delay = parseInt(options.delay || 300)
                this.minimum_length = parseInt(options.minimum_length || 3)
                this.form_elem = null
                this.query_box = null
}

Autocomplete.prototype.setup = function() {
        var self = this
                console.log(this.url)
                this.form_elem = $(this.form_selector)
                this.query_box = this.form_elem.find('input[class=que]')
                // Watch the input box.
                var query = self.query_box.val()
                this.query_box.on('keyup change focus', function() {
                                          
                  //if(query.length!=0 && query.length < self.minimum_length) {
                        //      return false
                  //}
                  self.fetch(query)
                })
                self.fetch(query)

        // On selecting a result, populate the search field.
        this.form_elem.on('click', '.ac-result', function(ev) {
                        self.query_box.val($(this).text())
                        $('.ac-results').remove()
                        return false
                        })
}

Autocomplete.prototype.fetch = function(query) {
        var self = this
        var search_text = document.getElementById('search_text').value
        var department_name = document.getElementById('department_name').value
        var project_title = document.getElementById('project_title').value
        //var dat = document.getElementByName('date')
        var state = document.getElementById('state').value
        var category = document.getElementById('category').value
        $.ajax({
                url: this.url
                , data: {
                        'department_name': department_name,
                        'project_title': project_title,
        //                'dat': dat,
                        'state': state,
                        'category': category,
                        'search_text': search_text
                }
                , success: function(data) {
                self.show_results(data)
                }
        })
}

$(document).ready(function($) {

        $(document).on('click', '.row1', function() {
                console.log(this.parentNode);
                var pubId = this.parentNode.id;
                //var pubId = (this.parentNode.id).split('.')[2];
                var link = '/sigegov/view_publication/' + pubId;
                window.location.href = link;
        });
});

Autocomplete.prototype.show_results = function(data) {
        var results = data.results || [];
        var table = document.getElementById('example').getElementsByTagName('tbody')[0];// > tbody")
        $('#example tbody tr').remove()
        for(i=0; i<results.length; i++) {
                var pubId = results[i][4];
                var row = table.insertRow(table.rows.length);
                row.id = pubId;
                row.className = 'row3';
                var checkbox = row.insertCell(0);
                var project_title_cell = row.insertCell(1);
                var state_cell = row.insertCell(2);
                var department_name_cell = row.insertCell(3);
                var category_cell = row.insertCell(4);
                var pdf_cell = row.insertCell(5);
		console.log(pubId);
                pdf_cell.innerHTML = "<a href='/sigegov/pdfopen/"+  pubId + "'>File</a>";
                
                checkbox.innerHTML = "<input type='checkbox' name='check' value='" + pubId + "'>";
                checkbox.className = 'row2';
                project_title_cell.innerHTML = results[i][0];
                project_title_cell.className = 'row1';
                state_cell.innerHTML = results[i][1];
                state_cell.className = 'row1';
                department_name_cell.innerHTML = results[i][3];
                department_name_cell.className = 'row1';
                category_cell.innerHTML = results[i][2];
                category_cell.className = 'row1';
        }
}


$(document).ready(function() {
        window.autocomplete = new Autocomplete({
                form_selector: '.autocomplete-me'
        })
        window.autocomplete.setup()
});

function checkbox_func() {
        var selected = [];
        $("input:checkbox[name=check]:checked").each(function() {
             selected.push($(this).val());
        });
        if(selected.length == 2) {                
                var link = '/sigegov/compare_publications/' + selected;
                document.location.href = link;
        }
        else {
                alert("Please select exactly two publications from the list.");
        }
}

</script>
<!-- </body>
</html> -->
{% endblock %}
                                                                                                                             188,1         Bot

