{% load i18n %}
{% block content-body %}
{% load comments %}

{{ pub.description }} <br/>
{{ pub.web_server }} <br/>

{% get_comment_count for pub as comment_count %}
<p>{{ count }} upvotes </p>
{% ifequal flag 1 %}
<p>Upvoted</p>
<a href="/sigegov/process_downvote/{{pub.id}}">Downvote</a>
{% endifequal %}
{% ifequal flag 0 %}
<a href="/sigegov/process_upvote/{{pub.id}}">Upvote</a>
{% endifequal %}

<p>{{ comment_count }} comments have been posted.</p>

{% get_comment_list for pub as comment_list %}
{% for comment in comment_list %}
<p>Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
<p>Comment: {{ comment.comment }}</p>
{% endfor %}

{% get_comment_form for pub as form %}
<table>
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {{ form.content_type }}
    {{ form.object_pk }}
    {{ form.timestamp }}
    {{ form.security_hash }}
    Name:    {{ form.name    }} <br/>
    Comment: {{ form.comment }} <br/>
    <input type="hidden" name="next" value="/sigegov/view_publication/{{pub.id}}" />
    <tr>
      <td colspan="2">
        <input type="submit" name="submit" value="Post">
        <input type="submit" name="preview" value="Preview">
      </td>
    </tr>
  </form>
</table>

{% endblock %}
