{% extends "sigegov/base.html" %}
{% load i18n %}

{% block content-body %}
<!--FORM Begins -->
<head>
<style>
.fm{
	padding:18px 18px;
	background-color: #f2f2f2;
	border-radius: 10px 10px 10px 10px;
-moz-border-radius: 10px 10px 10px 10px;
-webkit-border-radius: 10px 10px 10px 10px;
border: 0px solid #000000;
	-webkit-box-shadow: 0px 7px 29px 0px rgba(110,117,114,1);
-moz-box-shadow: 0px 7px 29px 0px rgba(110,117,114,1);
box-shadow: 0px 7px 29px 0px rgba(110,117,114,1);
}

</style>
</head>

<div style="width:25%;margin:auto;">
<div class="fm">
<h2>Login</h2>

<hr>
  <form method="post" action=".">
  {% csrf_token %} 
  <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
   <input id="{{form.username.id_for_label}}" type="text" class="form-control" name="{{form.username.html_name}}" placeholder="username" >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input id="{{form.password.id_for_label}}" type="password" class="form-control" name="{{form.password.html_name}}" placeholder="password" >
                                    
  </div>
 	<input type="submit"  class="btn btn-default" value="{% trans 'Log in' %}" /> 
  <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Click here" %}</a></p>

</form>
</div>
<br/>
<hr/>
<div id="bl">
<p>{% trans "Not member" %}? 

<button class="btn btn-info ">
<a style="color:#f2f2f2;text-decoration:none" href="{% url 'registration_register' %}">{% trans "Register" %} <span class="glyphicon glyphicon-edit"></span></a>
</button>
</p>
<button class="btn btn-danger btn-lg"><a style="color:#f2f2f2;width:25%;text-decoration:none" href="{% url 'socialauth_begin' 'google-oauth2' %}{% if request.get_full_path %}?next={{ request.get_full_path }}{% endif %}" > Login with Google+ </a></button></p>
</div>

</div>




<!--
<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}"></a>!</p>
<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
<p><a href="{% url 'socialauth_begin' 'google-oauth2' %}{% if request.get_full_path %}?next={{ request.get_full_path }}{% endif %}" >Login with google</a></p>-->
{% endblock %}
